body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #ece5dd;
}

.phone {
  width: 100%;
  max-width: 420px;
  height: 100vh;
  margin: auto;
  background: #ece5dd;
  display: flex;
  flex-direction: column;
}

.header {
  background: #075e54;
  color: white;
  padding: 12px;
  text-align: center;
  font-weight: bold;
}

.chat {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
}

.msg {
  background: #fff;
  padding: 8px;
  margin-bottom: 8px;
  border-radius: 8px;
  max-width: 85%;
  font-size: 14px;
}

.user {
  background: #dcf8c6;
  margin-left: auto;
}

.btn-group button,
.action-btn {
  display: block;
  width: 100%;
  margin: 5px 0;
  padding: 8px;
  background: #128c7e;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.input-box {
  display: flex;
  padding: 8px;
  background: #fff;
}

.input-box input {
  flex: 1;
  padding: 8px;
  border-radius: 20px;
  border: 1px solid #ccc;
}

.input-box button {
  margin-left: 6px;
  padding: 8px 12px;
  border-radius: 50%;
  border: none;
  background: #075e54;
  color: white;
}
